header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  display: flex;
  background-color: red;
}

header > h2 {
  align-self: center;
}

img {
  height: 100%;
  margin: 0 10px 0 10px;
}

app-new-card {
  margin-left: 20px;
  width: 30%;
}

app-general-card {
  min-width: 200px;
  width: 20vw;
}

.centered {
  margin-top: 30px;
  align-self: center;
}

.main-container {
  padding: 10vh 0;
  bottom: 0;
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 10px;
}

header > img {
  transition-duration: 500ms;
  transition-property: transform;
}

header > img:hover {
  transform: scale(1.1) rotate(360deg);
}

@media screen and (max-height: 500px) {
  header {
    height: 50px;
  }
  .container {
    padding-top: 50px;
  }
}

@media screen and (max-width: 540px){
  header > h2 {
    display: none;
  }
}

@media screen and (max-width: 420px){
  header > img {
    display: none;
  }
}

