<header>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png"
    alt="pokeball">
  <h2>Add cards:</h2>
  <app-new-card></app-new-card>
</header>
<div class="main-container">
  <h1 class="centered">Tasks to-do by pokemon:</h1>
  <div class="centered" *ngIf="cards.length === 0">
    <h2>No cards yet!</h2>
  </div>
  <div class="cards-container centered" *ngIf="cards.length > 0">
    <app-general-card *ngFor="let card of cards" [card]="card"></app-general-card>
  </div>
</div>
