.generalCard {
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 0 auto;
    position: relative;
    align-items: center;

}
.contenedor{
    border-style: solid;
    border-radius: 4%;
    border-color: rgba(40, 40, 41, 0.712);
    justify-content: center;
    margin: auto;
    display: block;
    padding: 25px;

}
.card_box {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    position: absolute;
    background-color: rgba(250, 241, 241, 0.637);
    

}

.card_box:hover {
    transform: rotateY(180deg); 
}

.card_box,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
            bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}



.pokemonName {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}
.btnSave{
    width: 100%;
}
button {
    margin: 1px;
    display: inline-block   ;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 45%;
    height: 30px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

input {
    margin: 2px;
    padding: 5px;
    background: none;
    border: 1;
    outline: 0;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid #252525;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: .9rem;
    padding: 1px 3px;
}